asgiref
click
colorama
contourpy
cycler
Django
django-cors-headers
fonttools
gunicorn
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
Pillow
pyparsing
python-dateutil
regex
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
tzdata

